<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trip Manager</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body style="overflow-x: hidden;">

<div th:replace="fragments/navBar.html :: navbar">

</div>

<div class="container-fluid margin">
  <h3 class="trips">My trips <img th:src="@{/img/icon.jpg}" alt="icon" id="icon" class="mx-2"/></h3>

  <div class="row m-0 p-0">
    <div class="shadow-sm tripcard m-4 col" th:each="trip, index:${trips}">
      <div class="card-body">
        <div class="row m-0 p-0">
          <h3 class="card-text p-0 mb-3 pb-0 col-6" th:text="'Trip ' + ${index.index+1}"></h3>

          <form th:action="'/trips/' + ${trip.id} + '/approval'" class="col-6 text-right" th:if="${trip.status.getStatus().equals('CREATED')}">
            <button class="btn btn-primary" style="font-size: smaller">
              SEND APPROVAL
            </button>
          </form>
        </div>
        <div class="row my-2">
          <h5 class="col-4">Reason: </h5>
          <h5 class="col-8" th:text="${trip.reason}"></h5>
        </div>
        <h6 class="my-2">Description:</h6>
          <p th:text="${trip.description}">
          </p>

          <div class="row">
            <div class="col-4 font-italic">Departure:</div>
            <div class="col-4" th:text="${trip.departureCity.name} + ', ' + ${trip.departureCity.country.name}"></div>
            <div class="col-4" th:text="${trip.departureDate}"></div>
          </div>

          <div class="row">
            <div class="col-4 font-italic">Arrival:</div>
            <div class="col-4" th:text="${trip.arrivalCity.name} + ', ' + ${trip.arrivalCity.country.name}"></div>
            <div class="col-4" th:text="${trip.arrivalDate}"></div>
          </div>

          <div class="row my-2 font-italic">
            <a th:href="'/trips/' + ${trip.id}" class="col-4">Expand</a>
            <a th:href="'/trips/' + ${trip.id} + '/update'" class="col-4">Edit Trip</a>
            <a th:href="'/trips/' + ${trip.id} + '/delete'" class="col-4" style="color: red">Delete</a>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
